<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Secrets</title>
</head>
<body class = "container">
  <h1>Welcome <%=result.firstName%></h1>
  <form action="/secrets" method="post">
    <label for="secret">Secret: </label>
    <input type="text" name="secret">
    <br>
    <input type="submit" value="Submit">
  </form>
  <div class = "jumbotron">
    <% for (secret of secrets) { %>
      <p><a href ="/secrets/<%=secret.id%>"><%=secret.secret%></a></p>
    <% } %>
  </div>
</body>
</html>