<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Edit Wolf</title>
</head>
<body class = "container">
  <form action="/wolves/<%= wolf.id%>" method = "post">
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= wolf.name%>">
    <br>
    <label for="age">Age: </label>
    <input type="text" name="age" value="<%= wolf.age%>">
    <br>
    <label for="weight">Weight: </label>
    <input type="text" name="weight" value="<%= wolf.weight%>">
    <br>
    <input type="submit" value="Edit Wolf" class = "btn btn-primary">
  </form>
</body>
</html>