<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#peopleBtn').click(function(){
        $.get('/people', function(data){
          $('#display').empty();
          for (let i =0; i < data.results.length; i++){
            $('#display').append('<tr><td></tr></td>', data.results[i].name);
          }
          pageNumber = 1;
        }, 'json');
      });
      $('#planetsBtn').click(function(){
        $.get('/planets', function(data){
          $('#display').empty();
          for (let i =0; i < data.results.length; i++){
            $('#display').append(`<tr><td>${data.results[i].name}</tr></td>`);
          }
        }, 'json');
      });
      let pageNumber = 1;
      $('#nextBtn').click(function(){
        pageNumber += 1;
        $.get('/next?page=' + pageNumber, function(data){
          $('#display').empty();
          for (let i =0; i < data.results.length; i++){
            $('#display').append(`<tr><td>${data.results[i].name}</tr></td>`);
          }
        }, 'json');
      });
      $('#previousBtn').click(function(){
        pageNumber -= 1;
        $.get('/next?page=' + pageNumber, function(data){
          $('#display').empty();
          for (let i =0; i < data.results.length; i++){
            $('#display').append(`<tr><td>${data.results[i].name}</tr></td>`);
          }
        }, 'json');
      });
      
    });
  </script>
  <title>Star Wars Wiki</title>
</head>
<body>
  <h1>Star Wars</h1>
  <button id = "peopleBtn">People</button>
  <button id = "planetsBtn">Planets</button>
  <table id = "display"></table>
  <button id = "nextBtn">Next</button>
  <button id = "previousBtn">Prevoius</button>
 
</body>
</html>