

<section *ngIf = "newAuthor" style="display:inline-block">
  <fieldset>
    <legend>Add Author</legend>
    <form (submit)="submitAuthor()">
      <label for="name">Name: </label>
      <input type="text" name="name" [(ngModel)]="newAuthor.name">
      <br>
      <input type="submit" value="Add">
      <button (click)="cancelAdd()">Cancel</button>
    </form>
  </fieldset>
</section>

<section *ngIf = "changeAuthor" style="display:inline-block">
    <fieldset>
      <legend>Edit Author</legend>
      <form (submit)="editSubmit(changeAuthor._id)">
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="changeAuthor.name">
        <br>
        <input type="submit" value="Edit">
        <button (click)="cancelEdit()">Cancel</button>
      </form>
      
    </fieldset>
  </section>

<router-outlet></router-outlet>
